@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-text: #040316;
  --color-background: #fbfbfe;
  --color-primary: #2f27ce;
  --color-secondary: #dddbff;
  --color-accent: #443dff;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-text: #eae9fc;
  --color-background: #010104;
  --color-primary: #3a31d8;
  --color-secondary: #020024;
  --color-accent: #0600c2;
}
